.title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}
.home-page-main{
    margin-bottom: 150px;
}
.title-text {
  color: white;
  font-weight: 500;
  margin: 0;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  overflow: hidden;
  
}

.subImg {
  width: 100%;
  height: 171px;
  overflow: hidden !important;
}

.text-sec {
  background-color: #0a0a0a;
  width: 100%;
  height: 100%;
  padding: 0 21px;
  padding-bottom: 40px;
}

.subName {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 30px; */
  /* identical to box height */

  color: #ffffff;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.subDetails {
  color: rgba(255, 255, 255, 0.68);
  font-weight: 400;
  font-size: 14px;
  /* line-height: 24px; */
  margin-top: 14px;
}

.date {
  position: absolute;
  right: 11px;
  bottom: 2px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.56);
}

@media (max-width: 768px) {
  .card {
    margin: 20px auto;
  }
}
