.signuppage {
  display: flex;
  justify-content: space-between;
  /* margin: 76px 0px; */
}



.pageTitle {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.signUpFormTitle {
  color: #ffffff;
  font-weight: 500;
  font-size: 22.3888px;
  text-align: left;
}

.pageDes {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.iconContainer {
  position: relative;
}

.loginicons {
  position: absolute;
  top: 15px;
  left: 12px;
}
.gradIcon {
  width: 58px;
  height: 58px;
  background: linear-gradient(261.51deg, #36d1dc 0.1%, #5b86e5 92.07%);
  opacity: 0.1;
  border-radius: 23px;
}

.iconText {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.mailIcons {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.formTexts {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-align: start;
}
.signUpForm {
  margin-top: 30px;
  margin-bottom: 80px;
  width: 80%;
  margin-left: 20%;
  padding: 30px 5%;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 45.4773px;
}

.inpField {
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 24.3352px;
  border: none;

  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.47);
}

.Save {
  font-weight: 500;
  font-size: 16.9553px;
  line-height: 31px;
  color: #ffffff;
  top: 16.8px;
  right: 32px;
  position: absolute;
}

.inputGroup {
  position: relative;
}

.passFields {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
}

.checkbox {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 80%;
  margin: 36px 5px;
}

.checkboxes {
  margin: 36px 5px;
  display: flex;
  gap: 11px;
}
.form-check-label {
  font-size: 14px;
}

.submitbtn {
  background-color:#1de990 ;
  border-radius: 20px;
  font-weight: 400;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  letter-spacing: 2px;
  width: 100%;
  display: block;
  color: #ffffff;
  border: 1px solid #5b86e5;

}
.submitbtn:hover{
background-color: #2e7935;
}
.permissionText {
  font-weight: 400;
  font-size: 12.1036px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 15px;
  margin-left: 4px;
}

@media (max-width: 768px) {
  .signUpForm {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
}
